*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    transition: all 0.3s linear;
}
.favi{
    color:red
}
body{
    background:#67817d;
    transition: all 0.3s linear;
}
.bgc-card{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bgc-image{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures the image covers the entire container */
    opacity: 0.6; /* Transparency */
    z-index: 1;
}
.card{
    width: 90%;
    max-width: 470px;
    background: rgb(2,0,36);
/* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgb(20, 63, 180) 100%); */
    color: #fff;
    margin: 30px auto;
    min-height: 300px;
    position: relative;
    border-radius: 20px;
    opacity: 1;
    padding: 15px 35px;
    padding-bottom: 30px;
    text-align: center;
    position: relative;
    z-index: 2;
}
.pokemonheading{
    width: 390px;
    
    cursor: pointer;
    height: 140px;
    padding-bottom: 10px;
    animation: width 0.2s ease forwards;
}
.pokemonheading:hover{
    width: 400px;
    color: aqua;
}
.search{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.searchmenu{
    width: 80%;
    position: relative;
}
.searchmenu .autocomplete-input{
    border: 0;
    width: 100%;
    outline: 0;
    background:#ebfffc;
    color: #120526;
    padding: 10px 25px;
    height: 60px;
    border-radius: 2px;
    margin-right: 16px;
    
}
.autocomplete-input:hover{
    color: rgb(164, 255, 255);
    background: cadetblue;
}
.autocomplete-input::placeholder{
    color: #0c0524;
}
.autocomplete-list{
    list-style: none;
    margin-top: 1px;
    width: 100%;
    background:#ebfffc;
    color: #120526;
    padding-top: 0;
    position: relative;
    max-height: 200px;
    overflow-y: auto;
}
.autocomplete-list li{
    display: flex;
    color: #0c0524;
    padding: 10px 10px;
    width: 100%;
    cursor: pointer;
}
.autocomplete-list li:hover{
    display: flex;
    color: #08062d;
    background: rgb(75, 125, 126);
    padding: 10px 10px;
    width: 100%;
    cursor: pointer;
}


.search button{
    border: 0;
    outline: 0;
    background:#ebfffc;
    border-radius: 2px;
    width: 15%;
    height: 60px;
    cursor: pointer;
}
.search button:hover{
    background:cadetblue;
    border-radius: 2px;
    width: 15%;
    height: 60px;
    cursor: pointer;
}
.search button img{
    width: 60px;
}
#poke-icon{
    padding-top: 20px;
    width: 150px;
    cursor: pointer;
    height: 120px;
}
#poke-icon:hover{
    padding-top: 20px;
    width: 170px;
    cursor: pointer;
    height: 140px;
}
.changetext{
    font-size: 18px;
    color: #87ffed;
    width: 100%;
    text-align: center;
}
.type{
    display: flex;
    flex-direction: row;
    padding-top: 2px;
    padding-bottom: 2px;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.type p{
    color:chocolate;
    font-weight: 700;
    font-size: 18px;
}
.type h2{
    font-size: 18px;
    font-weight: 500;
    color:burlywood;
    text-transform: uppercase;
}
.details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.training{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.base-stats{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.stat1{
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.stat1 p{
    font-weight: 500;
    color:rgb(64, 162, 165);
}
.stat2 p{
    color:rgb(64, 162, 165);
    font-weight: 500;
}
.stat2{
    display: flex;
    flex-direction: row;
    gap: 5px;
}